/.vs/GameStore/config/applicationhost.config
/.vs/GameStore/CopilotIndices/17.13.431.34963/CodeChunks.db
/.vs/GameStore/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
/.vs/GameStore/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
/.vs/GameStore/CopilotIndices/17.13.431.34963/SemanticSymbols.db
/.vs/GameStore/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
/.vs/GameStore/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
/.vs/GameStore/DesignTimeBuild/.dtbcache.v2
/.vs/GameStore/FileContentIndex/0e8a9700-46dd-4e2c-9a6a-2cf57ce2c2c6.vsidx
/.vs/GameStore/FileContentIndex/4d2a26e5-9e0f-4675-b6c0-50340f0104c2.vsidx
/.vs/GameStore/v17/.futdcache.v2
/.vs/GameStore/v17/.suo
/.vs/GameStore/v17/DocumentLayout.backup.json
/.vs/GameStore/v17/DocumentLayout.json
/.idea
[Bb]in
[Oo]bj
logs
[Gg]ame[Ff]iles