
.login-container, .register-container {
    width: 50%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}


.form-floating input,
.form-floating label,
.checkbox label {
    color: black;
}

    .form-floating input::placeholder,
    .form-floating label {
        color: #ccc;
    }

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
@media screen and (max-width: 750px) {
    .register-container, .login-container {
        min-width:80%;
        max-width: 90%; 
    }
}