<div class="social">
  <div class="social-touch">
    <h2>Get in touch</h2>
    <label>Name</label>
    <input type="text" />
    <label>Email</label>
    <input type="text" />
    <label>Message</label>
    <textarea></textarea>
    <app-button>Submit</app-button>
  </div>

  <div class="social-twitter">
    <h2>Twitter updates</h2>
    <div class="social-twitter-entry">
      Devil May Cry 5<br>
      http://goo.gl/ejVm<br>
      about 1 hour ago reply
    </div>
    <div class="social-twitter-entry">
      Devil May Cry 5<br>
      http://goo.gl/ejVm<br>
      about 1 hour ago reply
    </div>
    <div class="social-twitter-entry">
      Devil May Cry 5<br>
      http://goo.gl/ejVm<br>
      about 1 hour ago reply
    </div>
    <app-button>Follow us</app-button>
  </div>

  <div class="social-blog">
    <h2>From the blog</h2>
    <div class="social-blog-entry">
      Lorum ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Learn more</a>
    </div>
    <div class="social-blog-entry">
      Lorum ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Learn more</a>
    </div>
    <div class="social-blog-entry">
      Lorum ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Learn more</a>
    </div>
    <div class="social-blog-entry">
      Lorum ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Learn more</a>
    </div>
    <app-button>Visit blog</app-button>
  </div>
</div>
