@model IEnumerable<GameStore.Data.Key>

@{
    ViewData["Title"] = "View";
}
<style>
    table, td, tr, th{
        color:white;
        text-align: center; 
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                My Keys
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
        </tr>
}
    </tbody>
</table>
