@model IEnumerable<GameStore.Data.Game>

@{
    ViewData["Title"] = "Index";
}
<style>
    table, td, tr, th{
        color:white;
    }

    .fixed-size-image {
        width: 100px;
        height: 150px;
        object-fit: cover; 
    }
</style>
<h1>My library</h1>

<table class="table">
    <thead>
        <tr>
            <th>Game</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                    <br />
                    <img src="@item.CoverImageUrl" class="fixed-size-image" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">View Keys</a>
                </td>
            </tr>
        }
    </tbody>
</table>
